PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/cybershop
JWT_ACCESS_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me_too
CLIENT_USER_URL=http://localhost:5173
CLIENT_ADMIN_URL=http://localhost:5174
SEED_ADMIN_EMAIL=admin@cybershop.com
SEED_ADMIN_PASSWORD=Admin@123456
SEED_ADMIN_NAME=System Admin
SEED_CUSTOMER_PASSWORD=Customer@123
